<ng-container *ngIf="counterState$ | async as counterState">

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <button class="btn btn-danger btn-block btn-lg" (click)="counterActions.decrement()">
          <span class="fa fa-minus"></span>
        </button>
      </div>
      <div class="col-md-2 count">

        {{ counterState.current }}

      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block btn-lg" (click)="counterActions.increment()">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
  </div>

</ng-container>
