<div class="card mb-4">
  <div class="card-body bg-light">

    <img class="img-thumbnail float-right" [src]="book.thumbnail" width="150">

    <div class="card-title">
      <h3>
        <span class="badge badge-secondary">
          {{ book.rating }}
        </span>
        {{ book.title }}
      </h3>

    </div>

    <p class="text-muted">
      <span *ngFor="let a of book.authors; last as l">
        {{ a }}<ng-container *ngIf="!l">, </ng-container>
      </span>
    </p>

    <p class="small">
      {{ book.description }}
    </p>

    <button [disabled]="rateDownDisabled" (click)="doRateDown()" class="mr-2 btn btn-danger">-</button>

    <button [disabled]="rateUpDisabled" (click)="doRateUp()" class="btn btn-success mr-2">+</button>

    <a [routerLink]="['/book', book.isbn]" class="btn btn-secondary">Details</a>

  </div>
</div>