<form #createBookForm="ngForm" (ngSubmit)="add();">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input
      [(ngModel)]="book.isbn"
      class="form-control"
      name="isbn"
      required
      minlength="3"
      #isbn="ngModel">
  </div>

  <!--<div *ngIf="isbn.invalid && isbn.dirty" class="alert alert-danger">-->
  <div [hidden]="isbn.valid || (isbn.pristine && isbn.untouched)" class="alert alert-danger">
    Bitte geben Sie eine gütlige ISBN an!
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input
      [(ngModel)]="book.title"
      class="form-control" name="title"
      required>
  </div>

   <div class="form-group">
    <label for="description">Description</label>
    <textarea
      [(ngModel)]="book.description"
      class="form-control" name="description"></textarea>
  </div>

  <div class="form-group">
    <button
      type="submit"
      [disabled]="!createBookForm.valid"
      class="btn btn-danger">Submit</button>
  </div>

</form>

<hr>
